<link href="css/announce.css" type="text/css" rel="stylesheet">

<div class="header" style="background-color: #337AB7; color: white; float: right; width: 100%; margin-bottom: 20px;">

  <a href="/" style="text-decoration: none; color: white;">
    <h2 style="float: left; padding-top 0px; margin-top: 5px; margin-bottom: 5px; margin-left: 10px; ">
      Waffle
    </h2>
    <img style="height: 25px; width: 25px;" src="https://cdn1.iconfinder.com/data/icons/delicacies/32/waffle-sugar-sweet-dessert-cream-biscuit-512.png">
  </a>

  <a href="/" style="text-decoration: none; color: white;">
    <h2 style="float: right; padding-top 0px; margin-top: 5px; margin-bottom: 5px; margin-right: 10px; background-color: #337AB7;">
      Logout <img src="https://cdn1.iconfinder.com/data/icons/real-estate-set-2/512/18-512.png" style="height: 25px; width: 25px;">
    </h2>

  </a>

</div>

<div class="announce container">
  <div class="col-md-4">

  </div>

  <div class="col-md-4 announceBox">
    <h2>
      You are deciding on the winner for the event: {{eventName}}
    </h2>

    <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/16992-200.png">

    <form method="post" action="/winner?id={{eventID}}" style="margin-top: 15%; margin-bottom: 15%;">
      <input type="text" placeholder="Winning number" name="winner">
      <button class="btn-primary"> Submit </button>
    </form>
  </div>

  <div class="col-md-4">

  </div>

</div>
