<link href="css/winner.css" type="text/css" rel="stylesheet">

<div class="header" style="background-color: #337AB7; color: white; float: right; width: 100%; margin-bottom: 20px;">

  <a href="/" style="text-decoration: none; color: white;">
    <h2 style="float: left; padding-top 0px; margin-top: 5px; margin-bottom: 5px; margin-left: 10px; ">
      Waffle
    </h2>
  </a>

  <a href="/" style="text-decoration: none; color: white;">
    <h2 style="float: right; padding-top 0px; margin-top: 5px; margin-bottom: 5px; margin-right: 10px; background-color: #337AB7;">
      Logout
    </h2>
  </a>

</div>

<div class="winnerPage">

  <div class="col-md-4">

  </div>

  <div class="col-md-4 winnerBox">
    <h1>
      Here's the Waffle!
    </h1>

    <h2>
      Username: {{username}}
    </h2>

    <h2>
      Phone Number: {{phone}}
    </h2>

    <h3>
      Message Sent:
    </h3>

    <h4>
      {{message}}
    </h4>
  </div>

  <div class="col-md-4">

  </div>

</div>
