.page {
  text-align: center;
  width: 1000px;
}

.eventList {
  border: 1px solid #909eb4;
  border-radius: 10px;
  margin-bottom: 20px;
}

.event {
  border-bottom: 1px solid #909eb4;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.event-modal * {
  margin: 3px;
}

.event-body {
    padding : 40px 0;
}

ul {
    list-style: none;
}
