<!DOCTYPE html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  </head>

  <body>
    <div class="container" style="text-align: center;">

      <div class="intro">
        <h1>
          Biochem 100 Project 5 Individual Submission
        </h2>
        <h2>
          Tommy Nguyen
        </h2>
      </div>
  </body>
</html>
